.book-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book-item {
    width: 300px;
    margin-bottom: 20px;
}

.book-item img {
    width: 100%;
    height: auto;
}

.book-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.book-item p {
    font-size: 14px;
    color: #888;
}

#categoryList {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

#categoryList li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
#categoryList li:hover {
    text-decoration: underline;
}
  .book-item1 {
    text-align: center;
}
.book-item1 img {
    display: block;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}
.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}